<ion-view title="Pin Entry">
  <ion-content>
  	<center>
  		<ion-list>
				<ion-item>{{dispPin}}</ion-item>
			</ion-list>
	    <ion-item>
		    <ion-list>
					<ion-col>        
						<ion-button class="button button-stable" ng-click="press(1)">1</ion-button>
					</ion-col>
					<ion-col>        
						<ion-button class="button button-stable" ng-click="press(2)">2</ion-button>
					</ion-col>
					<ion-col>        
						<ion-button class="button button-stable" ng-click="press(3)">3</ion-button>
					</ion-col>
				</ion-list>
		    <ion-list>
					<ion-col>        
						<ion-button class="button button-stable" ng-click="press(4)">4</ion-button>
					</ion-col>
					<ion-col>        
						<ion-button class="button button-stable" ng-click="press(5)">5</ion-button>
					</ion-col>
					<ion-col>        
						<ion-button class="button button-stable" ng-click="press(6)">6</ion-button>
					</ion-col>
				</ion-list>
		    <ion-list>
					<ion-col>        
						<ion-button class="button button-stable" ng-click="press(7)">7</ion-button>
					</ion-col>
					<ion-col>        
						<ion-button class="button button-stable" ng-click="press(8)">8</ion-button>
					</ion-col>
					<ion-col>        
						<ion-button class="button button-stable" ng-click="press(9)">9</ion-button>
					</ion-col>
				</ion-list>	    
				<ion-list>
					<ion-col>        
						<ion-button class="button button-stable" ng-click="back()">Back</ion-button>
					</ion-col>
					<ion-col>        
						<ion-button class="button button-stable" ng-click="send()">Send</ion-button>
					</ion-col>
				</ion-list>
			</ion-item>
		</center>
  </ion-content>
</ion-view>